<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
 <div id='app'>
     <h1>v-model radio</h1>
     <label for="male">
         <input type="radio" id='male' value = 'male' v-model='sex'> male
     </label>
     
     <label for="female">
         <input type="radio" id='female' value='female' v-model='sex'>female
     </label>
    <p>you choose:{{sex}}</p>

    <br>
    <h1>v-model checkbox</h1>
     
     <label for="agree">
         <input type="checkbox" id="agree" v-model="isAgree">I agree to the terms of service
     </label>
     <br>

     <button :disabled='!isAgree'>next</button>

     <h1>v-model checkbox multiple</h1>
     <label for="apple">
         <input type="checkbox" value='apple' id='apple' v-model='fruits'>apple
    </label>
    <label for="banana">
        <input type="checkbox" value='banana' id='banana' v-model='fruits'>banana
    </label>
    <label for="cherry">
        <input type="checkbox" value='cherry' id='cherry' v-model='fruits'>cherry
    </label>
    <label for="Dragon Fruit">
        <input type="checkbox" value='Dragon Fruit' id='Dragon Fruit' v-model='fruits'>Dragon Fruit
    </label>
    <label for="Eggfruit">
        <input type="checkbox" value='Eggfruit' id='Eggfruit' v-model='fruits'>Eggfruit
    </label>
    <label for="Finger Lime">   
        <input type="checkbox" value='Finger Lime'  id='Finger Lime' v-model='fruits'>Finger Lime
    </label>
     <p>fruits:{{fruits}}</p>

     <h1>v-model select</h1>
     <select name='abc' id='' v-model='fruit'>
        <option value="apple" >apple</option>
        <option value="banana" >banana</option>
        <option value="cherry" >cherry</option>
        <option value="Dragon Fruit" >Dragon Fruit</option>
        <option value="Eggfruit" >Eggfruit</option>
        <option value="Finger Lime" >Finger Lime </option>
     </select>

     <p>you select: {{fruit}}</p>


     <h1>v-model select multiple</h1>
     <select name='abc' id='' v-model='fruits2' multiple size ="5">
        <option value="apple" >apple</option>
        <option value="banana" >banana</option>
        <option value="cherry" >cherry</option>
        <option value="Dragon Fruit" >Dragon Fruit</option>
        <option value="Eggfruit" >Eggfruit</option>
        <option value="Finger Lime" >Finger Lime </option>
     </select>
     <p>Hold Ctrl to select multiple fruit:{{fruits2}}</p>


     <h1>v-model dynamic bind value</h1>
     <label :for="book" v-for='book in books' >
         <input type="checkbox" :value='book' :id='book' v-model='fav_book'>{{book}}
     </label>

     <p>Which one is the best programming language:{{fav_book}}</p>


     <h1>v-model Modifier - lazy</h1>
     <input type="text" v-model.lazy='message'>
     <p>{{message}}</p>


     <h1>v-model Modifier - number</h1>
     age:<input type="number" v-model.number='age'>
     <p>type of age : {{typeof age}}</p>

     <h2>bug: there is a bug found in input tage</h2>
     <h2>Setting input type = number, it's expect you can only input number in input field,
        but acutully you can type letter 'e' in input field，have a try on above! </h2>
       
     <h1>v-model Modifier - trim</h1>
    
     <input type="text" v-model.trim='message_trim'>
     <p>{{message_trim}}</p>

     <br>
     <br>
     <br>
     <br>   
 </div>

<script>

const app = new Vue({
    el:'#app',
    data:{
        message:'hello',
        message_trim:'',
        sex:'male',
        age:'',
        isAgree:false, //checkbox single
        fruit:'apple',
        fruits:[],  //checkbox multiple
        fruits2:[], //select multiple
        fav_book:[],
        books:['C','C++','Java','C#','Python','PHP','Nodejs','React','Vue']  //dynamic bind value
    },
    methods:{
       
    }
})

</script>
<style>
    h2{
        color: red;
    }
</style>
    
</body>
</html>

