<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div id='app'>
        <div v-if='books.length'>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>book name</th>
                    <th>publish</th>
                    <th>price</th>
                    <th>amount</th>
                    <th>operation</th>
                 </tr>
            </thead>
            <tbody>
                <tr v-for='(item,index) in books'>
                    <td >{{item.id}}</td>
                    <td >{{item.name}}</td>
                    <td >{{item.date}}</td>
                    <td >{{item.price |showPrice}}</td>
                    <td>
                        <button @click='decrement(index)' :disabled='item.count <=1'>-</button>
                        {{item.count}}
                        <button @click='increment(index)'>+</button>
                    </td>
                   <td>
                       <button @click='removeClick(index)'>remove</button>
                   </td>
                </tr>
            </tbody>
        </table>
        <h2>Total price: {{totalPrice|showPrice}}</h2>
    </div>
    <h2 v-else> shopping car is empty. </h2>
    </div>



   
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>